* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #dbdbdb;
}

@font-face {
  font-family: "Forum";
  src: url(./assets/fonts/Forum-Regular.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Thin.ttf);
  font-weight: 200;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 240px;
  background-color: #030303;
  width: 1920px;
  height: 150px;
  color: #ffffff;
  font-family: "Forum";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
}

.header-left span {
  text-transform: uppercase;
}

.header-menu {
  list-style-type: none;
  display: flex;
}

.header-menu li {
  margin-left: 55px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
}

.header-triangle {
  margin-right: 25px;
}

.welcome {
  position: relative;
  margin: 0 auto;
  width: 1920px;
  height: 842px;
  background-color: #030303;
}

.welcome-content {
  position: relative;
  z-index: 1;
  top: 182px;
  left: 240px;
}

.mona-liza {
  position: absolute;
  width: 1000px;
  height: 750px;
  top: 32px;
  right: 240px;
}

h1 {
  width: 593px;
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
}

.welcome button {
  width: 360px;
  height: 75px;
  background: #710707;
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  border: none;
}

.welcome p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 75px;
}

.slider {
  background: #030303;
  width: 600px;
  height: 120px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 240px;
}

.slider-page {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  margin-left: 74px;
  margin-right: 55px;
}

.slider-page span {
  margin-right: 10px;
}

.slider-page span:last-child {
  margin-right: 0;
}

.slider-item {
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  margin-right: 25px;
}

.slider-item.active {
  background: #d2b183;
}

.slider img {
  width: 30px;
  height: 8px;
  color: #ffffff;
}

.arrow-left {
  margin-left: 35px;
  margin-right: 20px;
}

.visiting {
  margin: 0 auto;
  padding: 0 240px;
  width: 1920px;
  height: 1266px;
  background: #ffffff;
  padding-top: 75px;
}

.visiting h2 {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
}

.visiting-hr {
  width: 1440px;
  height: 3px;
  border: none;
  color: #710707;
  background-color: #710707;
  margin: 10px 0 75px 0;
}

.card img {
  width: 440px;
  height: 285px;
}

.card h3 {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 25px;
}

.card hr {
  border: none;
  color: #710707;
  background-color: #710707;
  width: 300px;
  height: 2px;
  margin: 10px 0;
}

.tour {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.view {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-top: 10px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 75px;
  width: 100%;
  justify-content: space-between;
}

.card {
  margin-bottom: 75px;
}

.explore {
  display: flex;
  width: 1920px;
  height: 865px;
  background: #030303;
  margin: 0 auto;
  padding: 75px 240px;
  justify-content: space-between;
}

.explore h2 {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}

.explore hr {
  width: 660px;
  height: 3px;
  background: #710707;
  border: none;
  color: #710707;
  margin: 25px 0 75px 0;
}

.explore p {
  width: 660px;
  margin-bottom: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #ffffff;
  letter-spacing: 0.1px;
}

.yellow {
  color: #caaa7d;
}

 .explore .slider {
  width: 39px;
  height: 700px;
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 420px;
  z-index: 2;
}

.explore-main {
  width: 720px;
  height: 700px;
}

.explore-left {
  width: 440px;
  height: 700px;
  position: absolute;
  z-index: 1;
  left: 0;
}

.explore .photo {
  position: relative;
}

