* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Forum";
  src: url(./assets/fonts/Forum-Regular.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Light.ttf);
  font-weight: 300;
}
header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 240px;
  background-color: #030303;
  width: 1920px;
  height: 150px;
  color: #ffffff;
  font-family: "Forum";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.header-menu {
  list-style-type: none;
  display: flex;
}
.header-menu li {
  margin-left: 55px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
}
.header-triangle {
  margin-right: 25px;
}
.welcome {
  position: relative;
  margin: 0 auto;
  width: 1920px;
  height: 842px;
  background-color: #030303;
}
.welcome div {
  position: relative;
  z-index: 1;
  top: 182px;
  left: 240px;
}
.welcome img {
  position: absolute;
  width: 1000px;
  height: 750px;
  top: 32px;
  right: 240px;
}
h1 {
  width: 593px;
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
}
.welcome button {
  width: 360px;
  height: 75px;
  background: #710707;
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  border: none;
}
.welcome p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 75px;
}
